* {box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
  }
  
  /*styling card*/
  .card {
    width: 300px;
    height: 455px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    perspective: 2500px;
    cursor: pointer;
    border-radius: 20px;
  }
  /*Cover Image*/
  .wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: black;
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.5s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 20px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  
  .cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px;
  }
  
  .card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  }
  
  /* Gradient overlay */
  .wrapper::before,
  .wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    transition: all 0.5s;
    border-radius: 20px;
    position: absolute;
    left: 0;
  }
  
  .wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(to top, transparent, 46%, rgba(12, 13, 19, 0.5) 60%, rgba(12, 13, 19) 97%);
  }
  
  .wrapper::after {
    bottom: 0;
    height: 30px;
    opacity: 1;
    background-image: linear-gradient(to bottom, transparent, 46%, rgba(12, 13, 19, 0.5) 60%, rgba(12, 13, 19) 97%);
  }
  
  .card:hover .wrapper::before,
  .card:hover .wrapper::after {
    opacity: 1;
  }
  
  .card:hover .wrapper::after {
    height: 120px;
  }
  
  
  .card:hover .cover-image {
    opacity: 0.3;
  }
  /*spiderman character*/
  .character {
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    filter: drop-shadow(2px 2px 2px black);
    position: absolute;
    z-index: 2;
  }
  
  .card:hover .character {
    opacity: 1;
    transform: translate3d(10px, -20px, 200px);
  }

 